*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html, body{
    height: 100%;
}


/* navigation bar styles */

nav{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #005CB4;
    z-index: 2;
}

ul{
    display: flex;
    list-style: none;
}

a{
    text-decoration: none;
}

.logo-image-container{
    width: 3rem;
    height: 3rem; 
    border-radius: 50%;
    background: white;
}

.nav-logo{
    margin-left: 1.5rem;
}

.logo-image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    font-size: 3rem;
    font-weight: 700;
    color:#C9002B ;
    padding-right: 1rem;
} 

.sidenav span{
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.desktop-nav{
    display: none;
}


/* end of navigation bar styling */


.homepage{
    margin-top: 10vh;
}

.video-advert{
    width: 100%;
    min-height: 90vh;
    overflow: hidden;
    position: relative;
}

.video-advert video{
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;

}

video{
    position: absolute;
    right: -90%;
}


/* about sections stylings */

.about-section-container{
    min-height: 40rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

.about-section-container h1{
    color: #004B93;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.about-text{
    width: 90%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1.5rem;
}

.about-text p{
    font-size: 1.2rem;
    display: flex;
    color:#004B93;
}

.about-bottom-image-container{
   width: 100%;
   height: 15rem;
   background: url('assets/about_bottom_image.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   padding-bottom: 20px;
   border-bottom-left-radius: 100px;
   border-bottom-right-radius: 100px;
}





/* products styling */

.product-section{
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    padding-bottom: 20px;
    padding-top: 15px;
}

.product-section h1{
    color:#004B93;
    font-weight: 600;
}

.products-introduction{
    height: 35rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-introduction-image{
    width: 90%;
    height: 15rem;
}

.products-introduction-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.products-introduction-text{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 10rem;
}

.products-introduction-text h1 {
    font-size: 2rem;
    font-weight: 900;
    padding: 10px 0;
}

.each-products-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: lightgray;
    padding: 20px 0;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.each-product{
    width: 40%;
    height: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 1.5rem 0;
    transition: transform .3s;
    cursor: pointer;
}

.each-product:hover{
    transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
}

.each-product-image{
    width: 80%;
    height: 15rem;
}
.each-product-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.each-product p{
    color: #004B93;
}


/* start of social media styling */

.social-medias-container{
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}

.each-socials-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.social-medias-container h1{
    color: #004B93;
    margin: 3rem 0;
}

.each-social-media{
    position: relative;
    width: 90%;
    height: 25rem;
    position: relative;
    cursor: pointer;
}

.each-social-media img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.social-icon{
    z-index: 1;
    position: absolute;
    left: 10%;
    bottom: 3%;
}

.content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .each-social-media:hover .content-overlay{
    opacity: 1.2;
  }
  
.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .content-details h3{
      color: white;
  }


  .each-social-media:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }

  
.fadeIn-top{
    top: 20%;
  }
  

/* end of social media styling */




.contact-form-container{
    width: 100%;
    min-height: 30rem;
    background-color: #005CB4;
    background-image: url('assets/contact_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}

.contact-form-container h1{
    color: white;
}

form{
   width: 80%;
   height: 25rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   background-color: rgba(0,0,0,0.5);
}


form span{
    display: flex;
    flex-direction: column;
}

form span textarea{
    background-color: lightblue;
}

form button{
    border: none;
    background: none;
    outline: none;
    width: 10rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    background-color: #005CB4;
}

input{
    border: none;
    background: none;
    border-bottom: 3px solid white;
    outline: none;
    color: white;
    height: 2.5rem;
    font-size: 1.1rem;
}

label{
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

footer{
    width: 100%;
    min-height: 30em;
    background-color: #005CB4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 25px;
}

.footer-links-container {
   width: 100%;
   height: 15rem;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}

.footer-links-container a{
   width: 100%;
   color: white;
   text-align: center;
}

.footer-social-links{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* 
#C9002B
#004B93 */




/* device of minimum width of 768px */

@media(min-width : 768px){
   video{
       right: -50%;
   }

   .about-text{
       width: 60%;
   }
   .about-section-container{
       margin-bottom: 4rem;
   }

   .about-bottom-image-container{
       width: 80%;
       height: 20rem;
   }


   .product-section h1{
       margin: 3rem;
   }

   /* .products-introduction{
       height: 40rem;
   } */

   .products-introduction-text{
       margin-top: 1.5rem;
       height: 20rem;
       width: 80%;
   }

   .products-introduction-text h1{
       padding: 0;
       margin: 0;
       margin: 1rem 0;
   }

   .each-social-media{
       width: 70%;
       height: 30rem;
   }
}

@media(min-width : 960px){
  .each-product{
      width: 30%;
  }

  .each-social-media{
      width: 40%;
  }
  .about-text{
      height: 15rem;
  }

  .about-bottom-image-container{
      height: 25rem;
  }
}

@media(min-width : 1200px){
   video{
       position: static;
   }
   
   .about-text{
       width: 40%;
   }
   .about-bottom-image-container{
       width: 50%;
   }

   .each-product{
       width: 20%;
       margin: 2rem;
   }
   .each-social-media{
       width: 25%;
   }

   .each-socials-container{
       width: 95%;
   }
}
